<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.IDao.t_studentMapper">
  <resultMap id="BaseResultMap" type="com.jmr.model.t_student">
    <id column="StudentID" jdbcType="INTEGER" property="studentid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Gender" jdbcType="SMALLINT" property="gender" />
    <result column="Birthday" jdbcType="DATE" property="birthday" />
    <result column="Telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Nation" jdbcType="VARCHAR" property="nation" />
    <result column="Education" jdbcType="INTEGER" property="education" />
    <result column="InsuredState" jdbcType="INTEGER" property="insuredstate" />
    <result column="State" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    StudentID, Name, Gender, Birthday, Telephone, Email, Address, Nation, Education, 
    InsuredState, State
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
    where StudentID = #{studentid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where StudentID = #{studentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmr.model.t_student">
    insert into t_student (StudentID, Name, Gender, 
      Birthday, Telephone, Email, 
      Address, Nation, Education, 
      InsuredState, State)
    values (#{studentid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=SMALLINT}, 
      #{birthday,jdbcType=DATE}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{education,jdbcType=INTEGER}, 
      #{insuredstate,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jmr.model.t_student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        StudentID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="birthday != null">
        Birthday,
      </if>
      <if test="telephone != null">
        Telephone,
      </if>
      <if test="email != null">
        Email,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="nation != null">
        Nation,
      </if>
      <if test="education != null">
        Education,
      </if>
      <if test="insuredstate != null">
        InsuredState,
      </if>
      <if test="state != null">
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=INTEGER},
      </if>
      <if test="insuredstate != null">
        #{insuredstate,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmr.model.t_student">
    update t_student
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null">
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="telephone != null">
        Telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        Nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        Education = #{education,jdbcType=INTEGER},
      </if>
      <if test="insuredstate != null">
        InsuredState = #{insuredstate,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where StudentID = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmr.model.t_student">
    update t_student
    set Name = #{name,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=SMALLINT},
      Birthday = #{birthday,jdbcType=DATE},
      Telephone = #{telephone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Nation = #{nation,jdbcType=VARCHAR},
      Education = #{education,jdbcType=INTEGER},
      InsuredState = #{insuredstate,jdbcType=INTEGER},
      State = #{state,jdbcType=INTEGER}
    where StudentID = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>